
.containerATPrincipal{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3% auto 0 auto;
    padding: 2rem;
    width: 90%;
    max-width: 800px;
    background: linear-gradient(47deg, #a06cbd 38%, #ff6f5c 73%, #ed9e2f 98%);
    border-radius: 1.5rem;
    box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.4);
    gap: 2rem;
    .BTNmostrar{
        color:#fff9f9;
        text-shadow: 0.2rem 0.2rem 0.4rem rgb(47, 39, 92);
        font-weight: 700;
        padding: 1rem;
        border-radius: 1rem;
        font-size: 22px;
        .BTNmostrar:hover {
            background-color: #ffffff1f;
            transform: scale(1.05);
        }
    }
    .dispo{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row-reverse;      
    width: 100%;
    margin-top: 1rem;
    gap: 2rem;
        h2{
            font-family: "Lexend Giga", sans-serif;
            font-size: 35px;
            margin-left: 5rem;
            margin-top: 10rem;
            color: #fff9f9;
        }
        .containerATPlaylist{
            background-color: #0000007e;
            border-radius: 1rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 1rem;
            .IMGAT{
            border-radius: 1rem;
            margin-top: 1rem;
            width: 100%;
            max-width: 400px;
            }
            .inputs{
                padding: 0.5rem;
                padding-left: 4rem;
                padding-right: 4rem;
                margin-top: 1.6rem;
                background: #ffffffde;
                border: 1px solid black;
                color: black;
                border-radius: 0.4rem;
            }
            .btnAtualizarPlaylist{
                align-self: center;
                width: 30%;
                height: 3.5vh;
                margin-top: 0.8rem;
                border: solid 1px #a45ed3;
                background: #0c0c0cce;
                color: #ffffff;
                font-weight: 600;
                font-family: "Lily Script One", system-ui;
                border-radius: 0.5rem;
            }
        }
    }
}