.logout{
    .logoutBTN{
        height: 5vh;
        width: 9vh;
        font-weight: 600;
        font-size: 15px;
        padding-left: 1rem;
        padding-right: 1rem;
        border: solid 1px  #61526b;;
        background-color: #0c0c0c;
        color: #fff9f9;
        border-radius: 0.8rem;
        font-family: "Lexend Giga", sans-serif;
        transition: all 0.3s ease;
        cursor: pointer;
        
            &:hover {
                transform: scale(1.06);
            }
    }
}