.logout{
    .logoutBTN{
        height: 5vh;
        width: 9vh;
        font-weight: 600;
        padding-left: 1rem;
        padding-right: 1rem;
        border: solid 2px  #1d1206;;
        background-color: #ffffff;;
        color: #000000;
        font-family: "Lily Script One", system-ui;
        border-radius: 0.8rem
}
}