.containerShow{
    display: flex;
    min-height: 75vh;
}
.paginaMusica {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    min-height: 100vh;
    box-sizing: border-box;

    .BTNmusica {
        margin-bottom: 1rem;
        height: 4vh;
        font-weight: 500;
        padding: 0.3rem;
        border: solid 1px  #61526b;;
        background-color: #a45ed3;;
        color: #fff9f9;
        border-radius: 1.1rem;
        font-family: "Lily Script One", system-ui;
    }

    .containerPlaylistCriada {
        display: flex;
        flex-direction: row;
        width: 90%;
        height: 75vh;
        border-radius: 1rem;
        box-shadow: 0.5rem 0.5rem 1rem #272727;
        background: linear-gradient(47deg,rgba(82, 72, 117, 0.91) 36%, rgba(143, 61, 50, 0.91) 66%, rgba(173, 99, 56, 0.87) 98%);

        .containerInfos {
            display: flex;
            flex-direction: column;
            min-height: 75vh;
            width: 26%;
            border-right: 1px solid #fff9f9;
            border-top-left-radius: 1rem;
            border-bottom-left-radius: 1rem;
            background: linear-gradient(47deg,rgba(140, 112, 181, 0.91) 31%, rgba(204, 72, 55, 0.91) 66%, rgba(247, 148, 27, 0.87) 98%);
            
            .playlistImage {
                display: flex;
                justify-content: center;
                align-self: center;
                margin-top: 1rem;
                
                width: 40vh;
                height: 40vh;
                object-fit: cover;
                border-radius: 8px;
            }

            .playlistInfo {
                
                .playlistNome{
                    margin: 0.25rem;
                    font-size: 1rem;
                    color: #fff9f9;
                    text-shadow: 0.2rem 0.2rem 0.4rem rgb(47, 39, 92);
                    text-align: center;
                    font-size: 30px;
                    font-weight: 700;
                }

                .playlistEstilo {
                    margin: 0.25rem;
                    font-size: 1rem;
                    text-align: center;
                    color: #fff9f9;
                    text-shadow: 0.2rem 0.2rem 0.4rem rgb(47, 39, 92);
                    font-size: 20px;
                    font-weight: 300;
                }

                .playlistDescricao{
                    color: #fff9f9;
                    text-align: center;
                    font-size: 1.5rem;
                    margin-top: 2rem;
                    text-shadow: 0.2rem 0.2rem 0.4rem rgb(47, 39, 92);
                }
            }
        }

            .containerMeio{
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                width: 74%;
                min-height: 75vh;
                margin-left: 3rem;
                
                .BTNpl{
                    display: flex;
                    flex-direction: row;
                    gap: 3rem;
                    
                    .BTNbusca{
                        color:#fff9f9;
                        text-shadow: 0.2rem 0.2rem 0.4rem rgb(47, 39, 92);
                        font-weight: 700;
                        padding: 1rem;
                        border-radius: 1rem;
                        font-size: 22px;
                    }

                    .BTNmostrar{
                        color:#fff9f9;
                        text-shadow: 0.2rem 0.2rem 0.4rem rgb(47, 39, 92);
                        font-weight: 700;
                        padding: 1rem;
                        border-radius: 1rem;
                        font-size: 22px;
                    }
                    
                    .BTNedit{
                        color:#fff9f9;
                        text-shadow: 0.2rem 0.2rem 0.4rem rgb(47, 39, 92);
                        font-weight: 700;
                        padding: 1rem;
                        border-radius: 1rem;
                        font-size: 22px;
                    }

                    .tituloMusica{
                        color:#fff9f9;
                        text-shadow: 0.2rem 0.2rem 0.4rem rgb(47, 39, 92);
                        font-weight: 700;
                        padding: 1rem;
                        font-size: 22px;
                        text-align: center;
                        margin-left: 9rem;
                }
                } 

                .containerDireita {
                    flex: 1;
                    width: 100%;
                    border-radius: 0.8rem;
                    padding: 1rem;
                    overflow-y: auto;
                    max-height: calc(75vh - 5rem);
                }
            }
            

    }
}