.titulo{
    text-align: center;
    margin-top: 2rem;
    color: #272727;
    text-shadow: 0.2rem 0.2rem 0.4rem rgb(211, 198, 241);
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    font-family: "Josefin Sans", sans-serif;
    font-size: 45px;
}

.pagina{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .CriarPlaylistBTN{
        align-self: center;
        height: 4vh;
        font-weight: 500;
        margin-top: 0.8rem;
        padding-left: 1rem;
        padding-right: 1rem;
        border: solid 1px  #61526b;;
        background-color: #70309bc2;;
        color: #fff9f9;
        font-family: "Lily Script One", system-ui;
        border-radius: 0.5rem;
    }

    .containerPlaylistCriada{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 2rem;
        
        .playlistCriadaBox{
            border: 3px solid #3e245063;
            box-shadow: 0.5rem 0.5rem 1rem #272727;
            display: flex;
            flex-direction: row;
            background: linear-gradient(47deg,rgba(160, 108, 189, 1) 38%, rgba(255, 111, 92, 1) 73%, rgba(237, 158, 47, 1) 98%);
            border-radius: 0.3;
            min-width: 40vh;
            min-height: 27vh;
            max-height: 27vh;
            max-width: 40vh;
            border-radius: 0.5rem;
            margin-top: 2rem;
            
            .playlistImage{
                width: 50%;
                border-radius: 0.5rem;

                object-fit: cover;
            }

            .playlistInfo{
                color: #fff9f9;
                text-shadow: 0.2rem 0.2rem 0.4rem rgb(47, 39, 92);
                display: flex;
                flex-direction: column;
                margin-top: 1rem;
                margin-left: 0.8rem;
                font-family: "Lily Script One", system-ui;
                
                .btn{
                    display: flex;
                    justify-content:center;
                    margin-top: 0;
                }
                .deleteBTN{
                    margin-top: 1rem;
                    align-self: flex-end;
                    border-radius: 0.3rem;
                    width: 4rem;
                    height: 1.3rem;
                    color: rgb(13, 9, 15);
                    font-weight: 750;
                    font-size: 10px;
                    background-color: #40254791;
                    border-color: rgba(32, 26, 43, 0);
                    box-shadow:  0.2rem 0.2rem 0.3rem rgba(47, 39, 92, 0.116);
                }
                .playlistTitulo{
                    font-size: 20px;
                    font-weight: 700;
                }

                .playlistEstilo{
                    font-size: 15px;
                    font-weight: 600;
                    text-shadow: 0.2rem 0.2rem 0.4rem rgb(47, 39, 92);
                }

                .playlistDescricao{
                    font-weight: 500;
                    text-shadow: 0.2rem 0.2rem 0.4rem rgb(47, 39, 92);
                    margin-top: 1rem;
                }

                .playlistLinkBTN{
                    display: flex;
                    justify-self: center;
                    padding-top: 0.15rem;
                    border: 1px solid #fff7e9ce;
                    background: #fff0dc60;
                    color: #272727;
                    font-weight: 500;
                    text-shadow: 0.1rem 0.1rem 0.2rem rgba(110, 103, 145, 0.705);
                    border-radius: 0.5rem;
                    margin-top: 3rem;
                    width: 85%;
                }
            }
    }
    }

    }
