.titulo{
    text-align: center;
    margin-top: 2rem;
    color: #0c0c0c;
    text-shadow: 0.2rem 0.2rem 0.4rem rgb(211, 198, 241);
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    font-family: "Josefin Sans", sans-serif;
    font-size: 45px;
}

.pagina{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .CriarPlaylistBTN{
        height: 4vh;
        width: 13rem;
        font-weight: 500;
        margin-top: 0.8rem;
        padding-left: 1rem;
        padding-right: 1rem;
        border: solid 1px  #61526b;
        background-color: #0c0c0c;
        color: #fff9f9;
        font-family: "Lily Script One", system-ui;
        border-radius: 1.1rem;
    }

    .containerPlaylistCriada{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 2rem;
        
        .playlistCriadaBox{
            border: 3px solid #3e245063;
            box-shadow: 0.5rem 0.5rem 1rem #272727;
            display: flex;
            flex-direction: row;
            background: linear-gradient(47deg,rgba(160, 108, 189, 1) 38%, rgba(255, 111, 92, 1) 73%, rgba(237, 158, 47, 1) 98%);
            border-radius: 0.3;
            min-width: 45vh;
            min-height: 35vh;
            max-height: 35vh;
            max-width: 45vh;
            border-radius: 0.5rem;
            margin-top: 2rem;
            
            .playlistImage{
                width: 50%;
                border-radius: 0.5rem;

                object-fit: cover;
            }

            .playlistInfo{

                color: #fff9f9;
                text-shadow: 0.2rem 0.2rem 0.4rem rgb(23, 23, 29);
                display: flex;
                flex-direction: column;
                margin-top: 1rem;
                margin-left: 0.8rem;
                font-family: "Lily Script One", system-ui;
                
                
                .playlistTitulo{
                    font-size: 23px;
                    font-weight: 700;
                }

                .playlistEstilo{
                    color: #ffffff;
                    font-size: 15px;
                    font-weight: 600;
                    text-shadow: 0.2rem 0.2rem 0.4rem rgb(23, 23, 29);
                }

                .playlistDescricao{
                    font-weight: 500;
                    text-shadow: 0.2rem 0.2rem 0.4rem rgb(23, 23, 29);
                    margin-top: 1rem;
                }

                .playlistLinkBTN{
                    display: flex;
                    justify-self: center;
                    padding: 0.3rem;
                    margin-top: 6.5rem;
                    border: solid 1px  #61526b;;
                    background-color: #0c0c0c;
                    color: #ffffff;
                    font-weight: 500;
                    font-size: 13px;
                    text-shadow: 0.1rem 0.1rem 0.2rem rgba(0, 0, 0, 0.705);
                    border-radius: 0.9rem;
                    width: 85%;
                    font-family: "Lily Script One", system-ui;
                }

                .btn{
                    display: flex;
                    justify-content: center;
                    margin-top: 0.5rem;
                    .deleteBTN{
                        display: flex;
                        justify-content: center;
                        justify-content: center;
                        border-radius: 0.3rem;
                        width: 4rem;
                        height: 1.3rem;
                        color: #fff9f9;
                        font-weight: 750;
                        font-size: 10px;
                        border: 1px solid #00000080;
                        background: #0c0c0cbe;
                        box-shadow:  0.2rem 0.2rem 0.3rem rgba(47, 39, 92, 0.116);
                        font-family: "Lily Script One", system-ui;
                    }
                }
            }
        }
    }
}